.app-dashboard-grid {
  --ion-grid-column-padding: 0.5rem;
}
.app-dashboard-grid img {
  width: 100%;
}
.app-dashboard-grid svg {
  height: 75px;
  width: 75px;
  margin-top: 1rem;
}
.app-dashboard-grid .app-connecting {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7rem;
  /* background: green; */
  /* border-radius: 57%; */
  /* display: block; */
  /* max-height: 75px; */
  /* width: 200px; */
}

.app-dashboard-grid .app-connecting p {
  margin: 0;
  padding: 0.5rem 0;
}

.app-dashboard-grid ion-avatar {
  width: 75px;
  height: 75px;
}

.app-dashboard-grid ion-item {
  background: rgba(0, 0, 0, 0.2);
  --border-style: none;
}

/* To access shadow dom parts example below */
.app-dashboard-grid ion-item::part(native) {
  flex-direction: column;
}
